#login_form {

    margin-right:100px;
    margin-left:100px;
    margin-top:20px;

}

#something_else {

	margin-right:100px;
    margin-left:100px;
    margin-top:50px;

}

#feed {

	margin-right:80px;
    margin-left:80px;
    margin-top:50px;
}

.post *{
	display:inline;
	text-align:right;
}

.score {
	font-size: 1em;
}

.voter {
	max-height:3em;
	max-width:3em;
}


h1 {

	margin-left:100px;
}

