#login_form {

    margin-right:100px;
    margin-left:100px;
    margin-top:20px;

}

#something_else {

	margin-right:100px;
    margin-left:100px;
    margin-top:50px;

}

#feed {

	margin-right:50px;
    margin-left:50px;
    margin-top:50px;
}

.post {
	min-height:5em;
	position:relative;
	text-align:center;
	padding:0 100px;
}
.score {
	font-size: 1em;
}

.voter {
	position:relative;
	max-height:2em;
	max-width:2em;
}

.post_text {
	display:block;
	position:relative;
	text-align:center;
	padding:0 5em;
}

h1 {

	margin-left:100px;
}

